# qq_api, qq_chat
aiocqhttp

# matrix_sync
aiofiles

# cpu_temp (APScheduler), prime_backup (APScheduler>=3.8,<4), region_file_updater_multi, zip_backup (apscheduler>=3.6.3)
apscheduler

# guguwebui (argon2-cffi)
argon2_cffi

# time_query
arrow

# matrix_sync
asyncio

# bili_live_helper (bilibili-api-python>=16.3.0)
bilibili_api_python

# prime_backup
blake3

# chatbridge, pcrc
colorlog

# mcdr_pycraft_bot (cryptography>=1.5), pcrc
cryptography

# fastapi_mcdr, guguwebui, mirror_archive_manager (fastapi>=0.111.1)
fastapi

# simple_translator (googletrans==4.0.0rc1)
googletrans

# minecraft_data_api, player_manager
hjson

# guguwebui, simple_test
javaproperties

# mount
jproperties

# kookin (khl.py>=0.3.17)
khl.py

# prime_backup
lz4; python_version < '3.13'

# matrix_sync (matrix-nio)
matrix_nio

# player_manager
nbt

# joinmotd_reforged (nbtlib>=2.0.0)
nbtlib

# sshclient
paramiko

# lbs_velocity_handler, mcd_seen, mcd_task, minecraft_data_api, minecraft_version_api, player_manager, region_file_updater_multi
parse

# guguwebui
passlib

# prime_backup
pathspec

# battery_saver, cpu_temp, info, ipanel_mcdreforged (psutil>=5.8.0), prime_backup, region_file_updater_multi
psutil

# info (py-cpuinfo)
py_cpuinfo

# chatbridge
pycryptodome

# chatbridgereforged_mc
pycryptodomex

# better_backup (pydal~=20230521.1)
pydal

# guguwebui
pydantic

# gugubot
pygame

# mcdr_pycraft_bot (PyNBT), pcrc
pynbt

# division (pytz>=2023.3), prime_backup
pytz

# tips
pyyaml

# better_backup (pyzstd~=0.15.9)
pyzstd

# pcrc
redbaron

# division (redis>=3.5.3)
redis

# division (rejson>=0.5.6)
rejson

# division (requests>=2.30.0), gugubot (Requests), iploc, kook_api, lite_file_manager, mc_uuid (requests>=2.25.1), mcdr_pycraft_bot, mcdreforged_plugin_manager, mirror_archive_manager (requests>=2.31.0), pcrc, snapshot_follower, uuid_api, wiki_request (requests==2.26.0)
requests

# eulagree (ruamel.yaml~=0.17), gugubot, guguwebui, pcrc, region_file_updater_multi
ruamel.yaml

# simple_calculator
simpleeval

# faster_transfer
speedcopy

# database_api, player_manager, prime_backup (SQLAlchemy>=2)
sqlalchemy

# guguwebui (starlette[full])
starlette

# bkchat_manager, leaves_handler, venture_chat_handler
strip_ansi

# zip_backup (tqdm>=4.65.0)
tqdm

# fastapi_mcdr, guguwebui, mirror_archive_manager (uvicorn>=0.31.0), qq_api
uvicorn

# whitelist_api (watchdog>=5.0.2)
watchdog

# cq_qq_api (websocket-client), ipanel_mcdreforged (websocket-client>=1.6.1), onebot_api (websocket-client>=1.2.0)
websocket_client

# quizgate
websockets

# better_backup (xxhash~=3.3.0), mirror_mcsmcdr (xxhash>=3), prime_backup (xxhash>=3)
xxhash

# prime_backup
zstandard

