# The requirements_extra.txt is licensed under Creative Commons Zero (CC0)
# You are free to use, modify, and distribute it without any restrictions

# im_api (aiocqhttp>=1.4.4), qq_api, qq_chat
aiocqhttp

# matrix_sync
aiofiles

# im_api (aiohttp>=3.8.0)
aiohttp

# cpu_temp (APScheduler), ftp_backup, prime_backup (APScheduler>=3.8,<4), region_file_updater_multi, zip_backup (apscheduler>=3.6.3)
apscheduler

# time_query
arrow

# matrix_sync
asyncio

# bili_live_helper (bilibili-api-python>=16.3.0)
bilibili_api_python

# prime_backup
blake3

# url_preview
bs4

# ftp_backup
chardet

# chatbridge, pcrc
colorlog

# connect_core, mcdr_pycraft_bot (cryptography>=1.5), pcrc, securercon (cryptography>=44.0.0)
cryptography

# fastapi_mcdr, mccr, mirror_archive_manager (fastapi>=0.111.1)
fastapi

# simple_translator (googletrans==4.0.0rc1)
googletrans

# minecraft_data_api, player_manager
hjson

# init_server, securercon (javaproperties>=0.8.0), simple_test
javaproperties

# mount
jproperties

# kookin (khl.py>=0.3.17)
khl.py

# prime_backup
lz4; python_version < '3.13'

# im_api (matrix-nio>=0.25.2), matrix_sync (matrix-nio)
matrix_nio

# player_manager
nbt

# hat (nbtlib>=2.0.4), joinmotd_reforged (nbtlib>=2.0.0)
nbtlib

# chat_with_ai, ollama_chat
openai

# ftp_backup, sshclient
paramiko

# lbs_velocity_handler, mcd_seen, mcd_task, minecraft_data_api, minecraft_version_api, player_manager, region_file_updater_multi
parse

# prime_backup
pathspec

# connect_core
prompt_toolkit

# battery_saver, connect_core, cpu_temp, info, ipanel_mcdreforged (psutil>=5.8.0), prime_backup, region_file_updater_multi
psutil

# info (py-cpuinfo)
py_cpuinfo

# chatbridge, loginproxy (pycryptodome>=3.21.0)
pycryptodome

# chatbridgereforged_mc
pycryptodomex

# better_backup (pydal~=20230521.1)
pydal

# async_rcon, securercon (pydantic>=2.10.0)
pydantic

# gugubot
pygame

# mcdr_pycraft_bot (PyNBT), pcrc
pynbt

# im_api (python-telegram-bot>=21.10), telegram_chat (python-telegram-bot>=21.10)
python_telegram_bot

# division (pytz>=2023.3), prime_backup
pytz

# cfgcmd, clear_player_data, connect_core (PyYAML), im_api (pyyaml>=6.0.1), meowtiwhitelist (PyYAML>=6.0.2), securercon (pyyaml>=6.0.0), tips
pyyaml

# better_backup (pyzstd~=0.15.9)
pyzstd

# simple_tp (readerwriterlock==1.0.9)
readerwriterlock

# pcrc
redbaron

# division (redis>=3.5.3)
redis

# division (rejson>=0.5.6)
rejson

# cfgcmd, chat_with_ai, clear_player_data, division (requests>=2.30.0), easybot_mcdr (requests~=2.32.3), gugubot (Requests), iploc, kook_api, lite_file_manager, mc_uuid (requests>=2.25.1), mcdr_pycraft_bot, mcdreforged_plugin_manager, meowtiwhitelist (requests>=2.31.0), mirror_archive_manager (requests>=2.31.0), ollama_chat, pcrc, snapshot_follower, uuid_api, uuid_api_remake, wiki_request (requests==2.26.0)
requests

# eulagree (ruamel.yaml~=0.17), gugubot, pcrc, region_file_updater_multi, world_eater_manage
ruamel.yaml

# im_api (setuptools>=68.2.0)
setuptools

# simple_calculator
simpleeval

# faster_transfer
speedcopy

# database_api, player_manager, prime_backup (SQLAlchemy>=2)
sqlalchemy

# bkchat_manager
strip_ansi

# cfgcmd
toml

# zip_backup (tqdm>=4.65.0)
tqdm

# prime_backup
typing_extensions

# fastapi_mcdr, mccr, mirror_archive_manager (uvicorn>=0.31.0), qq_api
uvicorn

# whitelist_api (watchdog>=5.0.2)
watchdog

# cq_qq_api (websocket-client>=1.4.0), ipanel_mcdreforged (websocket-client>=1.6.1), onebot_api (websocket-client>=1.2.0)
websocket_client

# connect_core, easybot_mcdr (websockets~=14.2), qq_bot (websockets^=15.0.0), quizgate
websockets

# better_backup (xxhash~=3.3.0), mirror_mcsmcdr (xxhash>=3), prime_backup (xxhash>=3)
xxhash

# prime_backup
zstandard

