name: Verify extra packages

on:
  push:
    paths:
      - 'src/requirements_extra.txt'
      - '.github/workflows/verify_extra.yml'

jobs:
  verify:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ['3.10', '3.11', '3.12']  # last 3 minor versions

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '${{ matrix.python }}'

    - name: Verify Installability
      run: |
        python3 -m pip install -U pip
        
        output=$(pip3 install --dry-run --no-deps -I --report - --quiet mcdreforged 2>/dev/null)
        mcdr_version=$(echo -E "$output" | jq '.install[0].metadata.version' -r)
        if [ -z $mcdr_version ]; then
          echo "MCDR version not found. pip output:"
          echo -E "$output"
          exit 1
        fi
        echo "Latest MCDR version: $mcdr_version"
        echo "mcdreforged==$mcdr_version" >> src/requirements_extra.txt

        pip3 install -r src/requirements_extra.txt
        
        echo "# Installation Summary (python ${{matrix.python}})" >> $GITHUB_STEP_SUMMARY
        echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
        pip3 freeze >> $GITHUB_STEP_SUMMARY
        echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
